PORT=3000

# Opt-Out Telemetry
NEXT_TELEMETRY_DISABLED=1

# Next Cache Image TTL
NEXT_IMAGE_CACHE_TTL=31536000

# Public URL
NEXT_PUBLIC_SITE_URL=

# Directus API Url
NEXT_PUBLIC_DIRECTUS_URL=
NEXT_DIRECTUS_TOKEN=
